{# src/Blogger/BlogBundle/Resources/views/Blog/create.html.twig #}
{% extends 'BloggerBlogBundle::layout.html.twig' %}
{% block title %}Create a blog post{% endblock %}
{% block body %}
    <h1>Create a blog post</h1>
    {{ form(form) }}
{% endblock %}